[submodule "Games/TicTacToe"]
	path = app/views/Games/TicTacToe
	url = https://github.com/Mitko-Kerezov/TicTacToe
[submodule "Games/TheSnake"]
	path = app/views/Games/TheSnake
	url = https://github.com/sttodorov/TheSnake
[submodule "Games/Sonic"]
	path = app/views/Games/Sonic
	url = https://github.com/Mitko-Kerezov/Sonic
