<div class="container text-center">
    <div class="jumbotron ">
        <video autoplay="autoplay" width="100%" height="auto" id="bgvid" loop muted>
          <source src="video/onRoad.mp4" type="video/mp4">
          <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <h1>Welcome to trip exchange</h1>
            <h2>Find your way home!</h2>
        </div>
    </div>

    <table class="table table-hover ">
        <thead>
            <tr>
                <th class="text-center">Trips</th>
                <th class="text-center">Finished trips</th>
                <th class="text-center">Users</th>
                <th class="text-center">Drivers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{statistic.trips}}</td>
                <td>{{statistic.finishedTrips}}</td>
                <td>{{statistic.users}}</td>
                <td>{{statistic.drivers}}</td>
            </tr>
        </tbody>
    </table>

    <div class="panel panel-default inline-panel pull-left">
        <div class="panel-heading">
            Latest trips
        </div>
        <div class="panel-body" ng-include="publicTrips">
        </div>
    </div>

    <div class="panel panel-default inline-panel pull-right">
        <div class="panel-heading">
            Latest drivers
        </div>
        <div class="panel-body" ng-include="publicDrivers">
        </div>
    </div>
</div>
