<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>{{currentUser.email}}</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6">
            <h3>{{currentUser.isDriver ? "Driver" : "Passenger"}}</h3>
        </div>
        <div class="col-lg-6">
            <h3>{{currentUser.car ? currentUser.car : "You don't have a car"}}</h3>
        </div>
    </div>
    
    <ng-include src="'views/partials/galleryPartial.html'"></ng-include>
    <br/>
    <div>
        <div class="upload-file-container row">
            <div class="btn btn-success fileinput-button pull-left" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input id="fileInput" type="file" file-model="fileObject" accept="image/x-png, image/jpeg, image/gif">
            </div>

            <div class="alert alert-success file-name-container pull-left" ng-show="fileObject.name">
                <button type="button" class="close" ng-click="removeFile()">×</button>
                <strong>{{fileObject.name}}</strong>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary pull-left" ng-click="uploadFile(fileObject)" id="file-upload-wrapper">Upload</button>
        </div>
    </div> 
</div>